body {
    font-family: 'Scada', sans-serif;
    font-size: 16px;
    background-color: #BEDAD6;
    text-align: center;
}
section {
    display: block;
}

main section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2em;
    border: 0.5px;
}
h1, h2, h3, img{
    margin: auto;
}
p {
    padding: 15px;
}
img {
    max-width: 100%;
}

