body {
    font-family: 'Scada', sans-serif;
    font-size: 16px;
    background-color: #BEDAD6;
}
section {
    display: block;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header main nav footer {
    max-width: 45rem;
    margin: 10px;
    line-height: 1.4;
}
main section {
    margin: 1rem;
    border: 0.5px;
}