body {
    font-family: 'Ubuntu', sans-serif;
}
thead, tfoot {
    background-color: #7fb9c2;
}
td, th{
    text-align: center;
    padding: 6px;
}
tr:nth-child(3), tr:nth-child(5), tr:nth-child(7){
    background-color: #e7ffed ;
}
tr:nth-child(2), tr:nth-child(4), tr:nth-child(6){
    background-color: #e7f0ed ;
}
.column-header {
    color: white;
    background-color: #628ca6;
}
thead {
    font-size: 20px;
}
tfoot {
    font-size: 10px;
}
tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}
table {
    margin: auto;
    margin-top: 30px;
}
