@media only screen and (min-width: 70em) {
    .website-title {
        font-size: 4rem;
    }
    .website-logo {
        margin: .5rem;
    }
    .nav-bar {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .navbar-links ul {
        flex-direction: row;
    }
    .navbar-links{
        display: flex;
        width: auto;
        margin-right: .5rem;
    }
    .navbar-links li {
        margin: .6rem;
        border-radius: 10px;
    }
    .toggle-button{
        display: none;
    }
    footer {
        font-size: 1.5rem;
    }
    .gallery {
        grid-template-columns: repeat(3, minmax(300px, 500px));
    }
    figure img, figure {
        width: 400px;
    }
    figure:hover {
        box-shadow: 0 0 50px #333;
    } 

}   
