@media only screen and (min-width: 32.5em) {
    .website-title {
        font-size: 4rem;
        margin-left: 0px;
    }
    h1 {
        font-size: 4rem;
        margin: 0;
    }
    .motto {
        display: block;
        margin: -17px 0px 0px -60px;
    }
    footer {
        font-size: 1.7rem;
    }
    .gallery {
        grid-template-columns: repeat(2, minmax(240px, 1fr));
    }
    }
}
