:root {
    --primary:#C5E8E7;
    --secondary: #5ABCB9;
    --accent1: #011627;
}
html {
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
header {
    font-family: 'Nanum Brush Script', cursive;
}
.contentbox, .contactbox, .weather-summary, .city-grid{
    margin: 30px auto;
    padding: 15px;
    background-color: var(--secondary);
    width: 90%;
}
.nav-bar {
    display: flex;
    background-color: var(--secondary);
    flex-direction: column;
}
.website-logo {
    display: flex;
    margin: .2rem;
    align-items: center;
    height: 70px;
    text-decoration: none;
    color: var(--accent1);
    width: fit-content;
}
.logo {
    height: 100%;
}
.website-title {
    font-size: 2.8rem;
}
.motto {
    display: none;
    font-size: 1.2rem;
    margin: -7px 0px 0px -20px;
 }
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.navbar-links li {
    list-style: none;
    align-items: center;
    background-color: var(--primary);
}
.navbar-links li a{
    text-decoration: none;
    color: var(--accent1);
    padding: .5rem;
    display: block;
    font-size: 2rem;
}
.navbar-links{
    display: none;
    width: 100%;
}
.navbar-links.toggle {
    display: flex;
}
.navbar-links li:hover {
    background-color: #3f8582a4;
}
.toggle-button{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--accent1);
    border-radius: 10px;
}
body {
    color: var(--dark);
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    font-family:'Nanum Brush Script', cursive;
}
footer {
    font-size: 1.1rem;
    padding: 5px;
    font-family: 'Nanum Brush Script', cursive;
    background-color: var(--secondary);
    margin-top: 30px;
}
footer a {
    text-decoration: none;
    color: var(--accent1);
}
footer a:hover{
    color: var(--primary)
}
.hero-div {
    margin: 10px auto;
    position: relative;
}
.hero-pic {
    display: block;
    width: 100%;
    margin: 0;
}
.home-overlay {
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 30px;
    left: 170px;
    font-size: 2rem;
}
.home-overlay p{
    margin: 10px;
}
.instant {
    font-size: 2rem;
    color: var(--secondary);
}
.weather {
    font-size: 2.5rem;
    font-weight: 100;
}
.updates {
    font-size: 1.5rem;
}
.for {
    font-size: 1rem;
}
.your {
    font-size: 2.5rem;
    color: var(--secondary);
}
.idaho, .town {
    font-size: 1.5rem;
}
main picture.hero-pic img{
    width:100%;
}
h3 {
    margin-bottom: 5px;
}
.contacts {
    list-style-type: none;
    padding: 0;
}
.contacts li h4 {
    font-size: 1.5rem;
}
h4 {
    margin: 10px;
}
.navbar-links li.active, .navbar-links li.active a  {
    color: white;
    background-color: var(--accent1);
    border-radius: 10px;
}
h3 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 3rem;
    margin: 0px;
    text-shadow: 2px 2px var(--secondary);
}
p {
    font-size: 1.2rem;
}
figcaption {
    background-color: var(--secondary);
    padding: 10px;
    margin-top: -5px;
    border-radius: 0px 0px 5px 5px; 
}
main {
    margin: auto;
    width: 90%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
figure img, figure {
    width: 300px;
    border-radius: 5px 5px 0px 0px; 
}
#number-days {
    color: red;
}