:root {
    --primary:#C5E8E7;
    --secondary: #5ABCB9;
    --accent1: #011627;
}
* {
    box-sizing: border-box;
}
body {
    color: var(--dark);
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}
.pancake-banner {
    background-color: yellow;
    padding: 20px;
    display: none;
}
header{
    font-family: 'Nanum Brush Script', cursive;
}
.logo {
    

}
.nav-bar {
    height: 50px;
    width: 100%;
    background-color:var(--secondary);
    color: var(--accent1);
    position:relative;
}
.navbar-links{
    display: none;
    flex-direction: column;
    width:100%;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: var(--accent1);
    padding: .5rem 1rem;
    display: block;
}
.navbar-links li:hover {
    background-color: var(--primary);
}
.navbar-links.active {
    display: flex;
}
.toggle-button{
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--accent1);
    border-radius: 10px;
}

h2{
    margin: 0;
}

.hero-div {
    margin: 10px auto;
    position: relative;
}
.hero-pic {
    display: block;
    width: 100%;
    margin: 0;
    filter: brightness(50%)
}
.articlepic {
    width: 100%
}
.contacts {
    list-style-type: none;
    padding: 0;
}
footer {
    font-size: 1.1rem;
    padding: 5px;
    font-family: 'Nanum Brush Script', cursive;
}