@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    h1 {
        font-size: 4rem;
        margin: 0;
    }
    footer {
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.9rem;
    }
    .weather-icon {
        width: 15%;
    }
    .forecast {
        display: initial;
    }
    .articlepic {
        width: 80%;
    }
    .prestonmap {
        width: 80%;
    }
    .hero-div {
        max-width: 80%;
    }
    .forecast-table{
        width: 70%;
        margin: 30px auto;

    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th {
        background-color: var(--secondary);
    }
    th, td {
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
    }
    .weather-summary {
        background-color: rgba(0,0,0,0.7);
        width: 250px;
        color: white;
        position: absolute;
        top: 5px;
        left: 20px;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}