@media only screen and (min-width: 60em) {
    main, footer, .motto {
        width: 90%;
        margin: auto;
    }
    h1 {
        font-size: 6rem;
        margin: 0;
    }
    footer {
        font-size: 1.9rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .motto {
        font-size: 1.4rem;
    }
    .logo {
        width: 200px;
    }
    
}
