@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 4rem;
        margin: 0;
    }
    footer {
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.9rem;
    }
    .articlepic {
        width: 80%;
    }
    .prestonmap {
        width: 80%;
    }
    .hero-div {
        max-width: 80%;
    }
    .forecast-table {
        border: 2px solid var(--secondary);
        width: 70%;
        margin: 30px auto;
    }
    .weather-summary {
        background-color: rgba(0,0,0,0.7);
        width: 200px;
        color: white;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}