body {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    max-width: 820px;
    margin: 0 auto;
}
header, main {
    padding: 4px;
    background-color: cadetblue;
    max-width: 820px;
    margin: 0 auto;
}