:root {
    --primary:#C5E8E7;
    --secondary: #5ABCB9;
    --accent1: #011627;
}
header, footer {
    background-color:var(--primary);
    font-family: 'Nanum Brush Script', cursive;
}
.pancake-banner {
    background-color: yellow;
    padding: 20px;
    display: none;
}
body {
    color: var(--dark);
    font-family: 'Nanum Gothic', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}
.nav-bar {
    display: flex;
    background-color: var(--secondary);
    flex-direction: column;
}
.website-logo {
    display: flex;
    margin: .2rem;
    align-items: center;
    height: 70px;
    text-decoration: none;
    color: var(--accent1);
}
.logo {
    height: 100%;
}
.website-title {
    font-size: 3rem;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.navbar-links li {
    list-style: none;
    text-align: center;
    background-color: var(--primary);
}
.navbar-links li a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--accent1);
    padding: .5rem;
    display: block;
}
.navbar-links{
    display: none;
    width: 100%;
}
.navbar-links.toggle {
    display: flex;
}
.navbar-links li:hover {
    background-color: #3f8582a4;
}
.toggle-button{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--accent1);
    border-radius: 10px;
}
.motto {
    margin: auto;
    padding-bottom: 10px;
    font-size: 1.1rem;
    font-family: 'Nanum Gothic', sans-serif;
}
h1 {
    font-size: 3rem;
    margin: 0;
}
h2, h3, h4{
    margin: 0;
}
footer {
    font-size: 1.1rem;
    padding: 5px;
}
form fieldset {
    margin: 2rem 1rem;
    border: 1px solid var(--accent1);
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    text-align: left;
}
form label.top {
    display: block;
    padding-top: 1rem;
    font-weight: bold;
    text-align: left;
}
form label.top input, form label.top select, textarea {
    display: block;
    border: 1px solid var(--accent1);
    border-radius: 4px;
    padding: .75rem;
    width: 85%;
    max-width: 20rem;
    text-align: left;
}
form label.sbs {
    display: block;
    padding: .5rem;
    text-align: left;
}
form input.sbutton {
    border: none;
    background-color: var(--accent1);
    padding: .75rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    color: white;
    
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
.danger {
    margin: 0;
    width: 85%;
    max-width: 20rem;
    background-color: white;
    padding: 0;
}

.user-details, .storm-details{
    background-color: var(--secondary);
}
.user-label, .storm-label, .danger-label, h4 {
    background-color: var(--accent1);
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.sbutton {
    font-weight: bold;
    background-color: var(--primary);
}
.thanks {
    background-color: var(--secondary);
    padding: 5px;
    margin: 2rem 10rem;
}
.navbar-links li a.active {
    color: white;
    background-color: var(--accent1);
    border-radius: 10px;
}
