:root {
    --primary:#EDF2F4;
    --secondary: #52bfe0;
    --dark: #2B2D42;
    --accent: #8D99AE;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
    margin: 0 10%;
    padding: 0;
}
.lesson-list a:hover {
    color: #D8D4F2;
}
.lesson-list a{
    color: var(--dark);
}
header {
    background-color: var(--primary);
    padding: 15px;
    color: var(--dark);
    font-size: 1.5rem;
}
header, h2 {
    text-align: center;
}
h2 {
    padding-top: 8px;
}
img {
    float: right;
    width: 250px;
    margin-right: 1em;
    border-radius: 10%;
    box-shadow: 10px 10x 8px #888888;
}
main {
    background-color: var(--secondary);
}
div {
   margin: 2em;
   border-radius: 25px;
}
li {
    font-size: 20px;
    margin: 15px;
}
ul {
    padding: 10px;
}
main, footer, header {
    border-radius: 15px;
}
footer { 
    background-color: #35393C;
    color: #D8D4F2;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
footer a:hover {
    color:#397367;
}
footer a {
    color: #BEDAD6
}
#update-timestamp {
    margin: 0;
    color: #DCC48E;
}
hr {
    border: 0;
    width: 100%;
    box-shadow: 0 0 2px 1px #35393C;
}
@media screen and (max-width: 550px) { 
    img {
        width: 250px;
        float: none;
    }
    h1 {
        margin: 0;
    }
    }