@media only screen and (min-width: 60em) {
    main, footer, .motto {
        width: 90%;
        margin: auto;
    }
    h1 {
        font-size: 6rem;
        margin: 0;
    }
    footer {
        font-size: 1.9rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .motto {
        font-size: 1.4rem;
    }
    .logo {
        width: 200px;
    }
    
    .hero-div {
        margin: 10px auto;
        position: relative;
    }
    .weather-summary {
        position: absolute;
        top: 50px;
        left: 350px;
    }
    .hero-photo {
        margin: 10px auto;
        width: 100%;
        height: auto;
    }
}   
