@media only screen and (min-width: 32.5em) {
    .website-title {
        font-size: 4rem;
        margin-left: 0px;
    }
    h2 {
        margin: 30px auto;
        width: 90%;
    }
    .motto {
        margin: -20px 0px 0px -60px;
    }
    footer {
        font-size: 1.7rem;
    }
    .weather-icon {
        width: 15%;
    }
    .forecast {
        display: initial;
    }
    .articlepic {
        width: 80%;
    }
    .hero-div {
        max-width: 80%;
    }
    .forecast-table{
        width: 70%;
        margin: 30px auto;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th {
        background-color: var(--secondary);
    }
    th, td {
        padding: 10px;
        font-weight: bold;
        font-size: 20px;
    }
    .weather-summary {
        background-color: rgba(0,0,0,0.7);
        width: 350px;
        color: white;
        position: absolute;
        top: 3px;
        left: 40px;
        margin: 0;
        padding: 0;
    }
    .home-overlay {
        color: white;
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        left: 46px;
        top: 41px;
        right: 126.967px;
        font-size: 2rem;
    }

    .grid-item {
        text-align: initial;
    }
    .contactbox, .city-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .contact-social {
        order: 2;
        padding: 8px;
    }
    .hq-div {
        width: 400px;
    }
    .hq-map {
        width: 100%;
    }
    form fieldset {
        margin: 2rem 5rem;
    }
    form label.top input, form label.top select, textarea, .danger{
        max-width: 25rem;
    }
    .city-grid {
        display: block
    }
    .city-pic {
        margin: 20px 0px 10px;
    }
    .city-pic-box {
        width: 250px;
        margin: 0px;
    }
    .city-info {
        width: 300px;
    }
    .city-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .fishhaven {
        order: 1;
    }
}