:root {
    --primary:#C5E8E7;
    --secondary: #5ABCB9;
    --accent1: #011627;
}
html {
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
header {
    font-family: 'Nanum Brush Script', cursive;
}
.city-title {
    font-size: 3rem;
    font-family: 'Nanum Brush Script', cursive;
    margin: 0px 0px;
}

.contentbox, .contactbox, .weather-summary, .city-grid, .events-box{
    margin: 30px auto;
    padding: 15px;
    background-color: var(--secondary);
    width: 70%;
}
.city-grid {
    margin: 0px auto;
}
.pancake-banner {
    background-color: yellow;
    padding: 20px;
    display: none;
}
.nav-bar {
    display: flex;
    background-color: var(--secondary);
    flex-direction: column;
}
.website-logo {
    display: flex;
    margin: .2rem;
    height: 60px;
    text-decoration: none;
    color: var(--accent1);
    width: fit-content;
}
.logo {
    height: 70%;
}
.website-title {
    font-size: 2.8rem;
    margin: -8px 0px 0px -40px;
}
.motto {
    margin: -7px 0px 0px -18px;
    font-size: 1rem;
 }
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.navbar-links li {
    list-style: none;
    align-items: center;
    background-color: var(--primary);
}
.navbar-links li a{
    text-decoration: none;
    color: var(--accent1);
    padding: .5rem;
    display: block;
    font-size: 2rem;
}
.navbar-links{
    display: none;
    width: 100%;
}
.navbar-links.toggle {
    display: flex;
}
.navbar-links li:hover {
    background-color: #3f8582a4;
}
.toggle-button{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--accent1);
    border-radius: 10px;
}
.forecast {
    display: none;
}
body {
    color: var(--dark);
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    font-family:'Nanum Brush Script', cursive;
}
footer {
    font-size: 1.1rem;
    padding: 5px;
    font-family: 'Nanum Brush Script', cursive;
    background-color: var(--secondary);
    margin-top: 30px;
}
footer a {
    text-decoration: none;
    color: var(--accent1);
}
footer a:hover{
    color: var(--primary)
}

.hero-div {
    position: relative;
}
.hero-pic {
    display: block;
    width: 100%;
    margin: 0;
}
.home-overlay {
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 30px;
    left: 170px;
    font-size: 2rem;
}

.home-overlay p{
    margin: 10px;
}
.instant {
    font-size: 2rem;
    color: var(--secondary);
}
.weather {
    font-size: 2.5rem;
    font-weight: 100;
}
.updates {
    font-size: 1.5rem;
}
.for {
    font-size: 1rem;
}
.your {
    font-size: 2.5rem;
    color: var(--secondary);
}
.idaho, .town {
    font-size: 1.5rem;
}
main picture.hero-pic img{
    width:100%;
}
.weather-summary-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 15px;
    grid-gap: 10px;
}
.weather-icon {
    width: 35%;
}
.weather-summary h3 {
    margin-bottom: 5px;
}
.contacts {
    list-style-type: none;
    padding: 0;
}
.articlepic {
    width: 200px;
}
.articlepic img {
    width: 100%;
}
.contacts li h4 {
    font-size: 1.5rem;
}
.heading-city-cards {
    font-size: 3rem;
    font-family: 'Nanum Brush Script', cursive;
    margin: 0px;
}
h4 {
    margin: 10px;
}
.hq-div {
    padding-top: 10px;
}
.hq-map {
    width: 100%;
}
#currently {
    text-transform: capitalize;
}
.navbar-links li.active, .navbar-links li.active a  {
    color: white;
    background-color: var(--accent1);
    border-radius: 10px;
}

form fieldset {
    margin: 2rem 1rem;
    border: 1px solid var(--accent1);
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    text-align: left;
}
form label.top {
    display: block;
    padding-top: 1rem;
    font-weight: bold;
    text-align: left;
}
form label.top input, form label.top select, textarea {
    display: block;
    border: 1px solid var(--accent1);
    border-radius: 4px;
    padding: .75rem;
    width: 85%;
    max-width: 20rem;
    text-align: left;
}
form label.sbs {
    display: block;
    padding: .5rem;
    text-align: left;
}
form input.sbutton {
    border: none;
    background-color: var(--accent1);
    padding: .75rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    color: white;
    
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
.danger {
    margin: 0;
    width: 85%;
    max-width: 20rem;
    background-color: white;
    padding: 0;
}
.user-details {
    margin-top: 0px;
}
.user-details, .storm-details{
    background-color: var(--secondary);
}
.user-label, .storm-label, .danger-label {
    background-color: var(--accent1);
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.sbutton {
    font-weight: bold;
    background-color: var(--primary);
}
.thanks {
    background-color: var(--secondary);
    padding: 5px;
    margin: 2rem 10rem;
}

.city-card, .events-box {
    background-color: var(--accent1);
    color: white;
    margin-bottom: 20px;
}
.city-pic-box {
    width: 100%;
    margin: auto;
}
.city-pic {
    width: 100%;
    margin-bottom: 10px;
}
.town-motto{
    font-weight: bold;
    margin: -5px 0px 10px;
    color:var(--secondary);
    padding: 0px 5px;
}

h3 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 3rem;
    margin: 0px;
    text-shadow: 2px 2px var(--secondary);
}
.user-label h3, .storm-label h3 {
    text-shadow:none;
}
.city-info div {
    margin-top: 30px;
}
p {
    font-size: 1.2rem;
}
figcaption {
    background-color: var(--secondary);
    padding: 10px;
    margin-top: -5px;
    border-radius: 0px 0px 5px 5px; 
}
.gallery {
    display: block;
}
figure img{
    width: 100%;
    border-radius: 5px 5px 0px 0px; 
}
figure {
    
}
#number-days {
    color: red;
}
.gallery-page {
    margin: auto;
    width: 90%;
}